<div class="card" >
  <form class="card-form" id="emailPwForm" autocomplete="off">
    <div class="form-field">
    </div>
    <div class="form-field">
      <label>Email:</label><br>
      <input name="email" type="text" placeholder="mayor@dani.town" autofocus />
    </div>
    <div class="form-field">
      <label>Password:</label><br>
      <input name="password" type="password" placeholder="shhh...it's a secret" />
    </div>
    <div class="form-field">
      <button class="pure-button" type="submit">Let's go!</button>
    </div>
  </form>
<div>
