<div class="nav-bar">
    <img class="logo" src="https://kelp.nyc3.digitaloceanspaces.com/logo.svg"><span class="hidden-xs"><h3>Middleman</h3></span>
    <ul>
      <li id="nav-bar__wallets"><a href="#"><i class="material-icons">attach_money</i><span class="hidden-xs navbar-text"> Wallets</span></a></li>
      <li id="nav-bar__docs"><a href="#"><i class="material-icons">description</i><span class="hidden-xs navbar-text"> Docs</span></a></li>
      <li id="nav-bar__account"><a href="#"><i class="material-icons">account_box</i><span class="hidden-xs navbar-text"> Account</span></a></li>
      <li id="nav-bar__support"><a href="#"><i class="material-icons">help_outline</i><span class="hidden-xs navbar-text"> Support</span></a></li>
    </ul>
  </div>
