<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    <div class="nav-bar">
      <img class="logo hidden-xs" src="https://kelp.nyc3.digitaloceanspaces.com/logo.svg">
      <span class="hidden-xs"><h3><span class="title-box">Middleman</span></h3></span>
      <ul>
        <li id="nav-bar__wallets"><a href="/developers"><i class="material-icons">account_balance_wallet</i><span class="hidden-xs navbar-text"> Wallets</span></a></li>
        <li id="nav-bar__functions"><a href="/functions"><i class="material-icons">attach_money</i><span class="hidden-xs navbar-text"> Functions</span></a></li>
        <li id="nav-bar__docs"><a href="http://docs.middleman.cx" target="_blank"><i class="material-icons">description</i><span class="hidden-xs navbar-text"> Docs</span></a></li>
        <li id="nav-bar__account"><a href="/account"><i class="material-icons">account_box</i><span class="hidden-xs navbar-text"> Account</span></a></li>
        <li id="nav-bar__support"><a href="mailto:mayor@dani.town"><i class="material-icons">help_outline</i><span class="hidden-xs navbar-text"> Support</span></a></li>
      </ul>
    </div>
    <div class="main">
      <div class="container">
        <h1>Account Settings<span class="badge">Beta</span></h1>
        <div id="email-card" class="card"><div class="card-content"></div></div>
        <div id="authtoken-card" class="card"><div class="card-content"></div></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      //main
      void function() {
        // make the account link active
        jQuery('#nav-bar__account').addClass('nav-bar-active');

        // display the user's email in the top corner
        jQuery('.nav-bar ul').append(`<li class="hidden-xs" id="nav-bar__email"><a href="/account"><span id="user-email" class="hidden-xs navbar-text">{{account._json.email}}</span></a></li>`);

        // display email and authkey on the page
        jQuery('#email-card .card-content').html(`<h4>✉️ Your Email:</h4><span class="preformatted">{{account._json.email}}</span>`);
        jQuery('#authtoken-card .card-content').html(`<h4>🔑 Your API Token:</h4><span class="preformatted">${document.cookie}</span>`);
      }();

      // display account details
    </script>
  </body>
</html>
