<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> header}}
    <div id="product-description">
      <p>Kelp lets you spin up cloud-hosted wallets so that your users can use your dapps without a web3-enabled browser. To get started, <a href="https://docs.kelp.cloud">check out the docs</a> or try it out manually below.</p>
      <a href="http://docs.kelp.cloud"><button class="pure-button">Check Out The API</button></a>
    </div>
    <div class='demo'>
      <h3>Try It Out First</h3>
      <div id='create-wallet'>
        <p>Try out the form below to generate a wallet on behalf of a user. Type in an email address or user identifier and press submit.</p>
        <form class="pure-form" id="create-wallet__form" autocomplete="off">
          <label>User ID or Email:</label><br>
          <input name="userid" type="text" placeholder="mayor@dani.town" autofocus />
          <button class="pure-button" type="submit">Create A Wallet</button>
        </form>
      </div>
    </div>
    <div id="wallet-creation-success-message"></div>
    <div id="wallet-table"><table class="pure-table" id="wallet-table__table"></table></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

      // helper for generating table rows for wallets
      function generateHTML(wallet) {
        return `<tr><td>${createdAt(wallet._id)}</td><td><span class="wallet-address preformatted">${wallet.address}</span></td><td>${wallet.user_id}</td><td>${wallet.balance} ETH</td></tr>`
      }

      // auth function that redirects user to login if not authed and otherwise returns dev info
      async function auth() {
        //  if no cookie, redirect to Login
        if (document.cookie === '') { window.location = '/login'; }

        // otherwise get id
        let developerId = await fetch('/developers/me', {
          headers: {
            'x-auth-key': document.cookie
          }
        }).catch((e) => {
          // error authenticating, redirect the user to login
          window.location = '/login';
        })
          return developerId.json()
      }

      //main
      void async function() {
        //first auth the user. devId is at account._id, email is at account.email
        let {account} = await auth();

        // display the user's email in the top corner
        // TODO: later on this should be a link to the account section
        jQuery('header').append(`<p id="my-email"><a href="#">${account.email}</a></p>`);

        // create the table
        // TODO: Later on this should only be created if there are wallets to display
        jQuery('#wallet-table__table').append('<thead><tr><th>Created</th><th>Address</th><th>UserID</th><th>Balance</th></tr></thead>');


        // need to pass in dev id
        let {wallets} = await getWallets(account._id)

        await Promise.all(wallets.map(async wallet => {
          wallet.balance = await getWalletBalance(wallet._id)
        }))

        let table = document.getElementById('wallet-table__table')
        let html = wallets.map(generateHTML).join('')
        table.innerHTML += html

      }()

      // get all the wallets that are attached to the logged in developer
      async function getWallets(myDeveloperId) {
        let res = await fetch(`/wallets/developer/${myDeveloperId}`, {
          headers: {
            'x-auth-key': document.cookie
          }
        })

        return res.json()
      }

      // get wallet balance for a wallet
      async function getWalletBalance(walletId) {
        let res = await fetch(`/wallets/${walletId}/balance`, {
          headers: {
            'x-auth-key': document.cookie
          }
        })

        let {balance} = await res.json()

        return balance
      }

      // Helper function to get the wallet created date from its id
      var createdAt = (walletId) => {
        return new Date(parseInt(walletId.substring(0, 8), 16) * 1000).toLocaleDateString('en-UK');
      };

    //   when submit the form, generate a wallet for the user id
      jQuery('#create-wallet__form').on('submit', function(e) {
        e.preventDefault();

        // get userid
        var userid = jQuery('[name=userid]').val();

        // send the data to the create wallet api
        jQuery.post({
          url: '/wallets/',
          type: 'post',
          data: {
            "user_id": userid
          },
          headers: {
            'x-auth-key': document.cookie
          }
        }, function(data, status) {
          // clear form field
          jQuery('[name=userid]').val("");

          jQuery('#wallet-creation-success-message').html(`<p>Success! Created a wallet at the address <span class="wallet-address preformatted">${data.wallet.address}</span> for the user ${data.wallet.user_id}</p>`);

          // add the new wallet to the list
          // TODO fetch balance for it
          jQuery('#wallet-table__table').append(`<tr><td>${createdAt(data.wallet._id)}</td><td><span class="wallet-address preformatted">${data.wallet.address}</span></td><td>${data.wallet.user_id}</td><td>0 ETH</td></tr>`);

        }).fail(function(xhr, status, error) {
        // error handling
          console.log(error);
          jQuery('[name=userid]').val("");
          jQuery('body').append('<div class="error"> Something went horribly, horribly wrong.</div>');
        });
      })

    </script>
  </body>
</html>
