<!DOCTYPE html>
<html>
<head>
  {{> head}}
</head>
  <body>
    <div class="nav-bar">
      <img class="logo hidden-xs" src="https://kelp.nyc3.digitaloceanspaces.com/logo.svg">
      <span class="hidden-xs"><h3><span class="title-box">Middleman</span></h3></span>
      <ul>
        <li id="nav-bar__wallets"><a href="/developers"><i class="material-icons">account_balance_wallet</i><span class="hidden-xs navbar-text"> Wallets</span></a></li>
        <li id="nav-bar__functions"><a href="/functions"><i class="material-icons">attach_money</i><span class="hidden-xs navbar-text"> Functions</span></a></li>
        <li id="nav-bar__docs"><a href="http://docs.middleman.cx" target="_blank"><i class="material-icons">description</i><span class="hidden-xs navbar-text"> Docs</span></a></li>
        <li id="nav-bar__account"><a href="/account"><i class="material-icons">account_box</i><span class="hidden-xs navbar-text"> Account</span></a></li>
        <li id="nav-bar__support"><a href="mailto:mayor@dani.town"><i class="material-icons">help_outline</i><span class="hidden-xs navbar-text"> Support</span></a></li>
      </ul>
    </div>
  <div class="main">
      <!--  CREATE WALLET COMPONENT -->
    <div class="container">
      <h1>Wallets<span class="badge">Beta</span></h1>
      <div class="card">
        <div class="card-content">
          <p id="create-wallet-card-instructions">You haven't created any wallets.
          <br>
          <span class="subtext">It's not too late. We will help you get started.</span>
          </p>
          <button id="wallet-create-button">+ Create Your First Wallet</button>
        </div>
        <div class="card-api-instructions">
          <div class="card-api-instructions__code-sample">
            <code>curl -X POST "https://api.middleman.cloud/wallets" -H "X-Auth-Key: AUTHKEY"</code>
          </div>
          <button><i class="material-icons">exit_to_app</i>Docs</button>
        </div>
      </div>
      <div id="wallet-creation-message"></div>
    </div>

    <!--  WALLET TABLE COMPONENT -->
    <div class="wallet-table container"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>

      // helper for generating table rows for wallets
      function generateTableHTML(wallet) {
        return `<tr><td>${createdAt(wallet._id)}</td><td><span class="wallet-address preformatted">${wallet.address}</span></td><td>${wallet.user_id}</td><td>${wallet.balance} ETH</td></tr>`;
      }

      // auth function that redirects user to login if not authed and otherwise returns dev info
      async function auth() {
        //  if no cookie, redirect to Login
        if (document.cookie === '') { window.location = '/login'; }

        // otherwise get id
        let developerId = await fetch('/developers/me', {
          headers: {
            'x-auth-key': document.cookie
          }
        }).catch((e) => {
          // error authenticating, redirect the user to login
          window.location = '/login';
        })
          return developerId.json()
      }

      //main
      void async function() {
        // make the wallets link active
        jQuery('#nav-bar__wallets').addClass('nav-bar-active');

        //first auth the user. devId is at account._id, email is at account.email
        let {account} = await auth();

        // display the user's email in the bottom corner
        jQuery('.nav-bar ul').append(`<li class="hidden-xs" id="nav-bar__email"><a href="/account"><span id="user-email" class="hidden-xs navbar-text">${account.email}</span></a></li>`);

        // get all the user's wallets

        let {wallets} = await getWallets(account._id)

        await Promise.all(wallets.map(async wallet => {
          wallet.balance = await getWalletBalance(wallet._id)
        }))

        if (jQuery.isEmptyObject(wallets)) {
          // change the text of the create wallet box
          jQuery('#create-wallet-card-instructions').html('<p id="create-wallet-card-instructions">You haven\'t created any wallets.<br><span class="subtext">It\'s not too late. We will help you get started.</span></p>');
          jQuery('#wallet-create-button').html('+ Create Your First Wallet');

        } else {
          // change the text
          jQuery('#create-wallet-card-instructions').html('<p id="create-wallet-card-instructions">Create another wallet.<br><span class="subtext">Come on. It\'s fun.</span></p>');
          jQuery('#wallet-create-button').html('+ Create A Wallet');

          // create a table
          let table = jQuery('.wallet-table').append('<table id="wallet-table__table"><thead id="wallet-table__table__thead"><tr><th>Created Date</th><th>Address</th><th>Owner</th></th><th>Balance</th></tr></thead><tbody id="wallet-table__table__tbody"></tbody></table>');
          let html = wallets.map(generateTableHTML).join('')
          jQuery('#wallet-table__table__tbody').html(html);
          jQuery('.wallet-table').append('<div class="card-api-instructions"><div class="card-api-instructions__code-sample"><code>curl -X GET "https://api.middleman.cloud/wallets" -H "X-Auth-Key: AUTHKEY"</code></div><button><i class="material-icons">exit_to_app</i>Docs</button></div>');
        }
      }()

      // get all the wallets that are attached to the logged in developer
      async function getWallets(myDeveloperId) {
        let res = await fetch(`/wallets/developer/${myDeveloperId}`, {
          headers: {
            'x-auth-key': document.cookie
          }
        })

        return res.json()
      }

      // get wallet balance for a wallet
      async function getWalletBalance(walletId) {
        let res = await fetch(`/wallets/${walletId}/balance`, {
          headers: {
            'x-auth-key': document.cookie
          }
        })

        let {balance} = await res.json()

        return balance
      }

      // Helper function to get the wallet created date from its id
      var createdAt = (walletId) => {
        return new Date(parseInt(walletId.substring(0, 8), 16) * 1000).toLocaleDateString('en-UK');
      };

    //   when submit the generate wallet form, generate a wallet for the user id
      jQuery('#wallet-create-button').on('click', function(e) {
        e.preventDefault();

        // send the request to the create wallet api
        jQuery.post({
          url: '/wallets/',
          type: 'post',
          data: {
            "user_id": "demo_user_id"
          },
          headers: {
            'x-auth-key': document.cookie
          }
        }, function(data, status) {

          jQuery('#wallet-creation-message').addClass('success').addClass('message-box').html(`<i class="material-icons">favorite_border</i><p>Success! Created a wallet at the address <span class="wallet-address preformatted">${data.wallet.address}</span></p>`);

          // change the text of the create wallet box
          jQuery('#create-wallet-card-instructions').html('<p id="create-wallet-card-instructions">Create another wallet.<br><span class="subtext">Come on. It\'s fun.</span></p>');
          jQuery('#wallet-create-button').html('+ Create A Wallet');


          // add the new wallet to the list
          // if first wallet, create the whole table
          // otherwise just append the row
          if (jQuery('.wallet-table').html() === '') {
            // this is the first wallet, create the whole table
            let table = jQuery('.wallet-table').append('<table id="wallet-table__table"><thead id="wallet-table__table__thead"><tr><th>Created Date</th><th>Address</th><th>Owner</th></th><th>Balance</th></tr></thead><tbody id="wallet-table__table__tbody"></tbody></table>');
            let html = `<tr><td>${createdAt(data.wallet._id)}</td><td><span class="wallet-address preformatted">${data.wallet.address}</span></td><td>${data.wallet.user_id}</td><td>0 ETH</td></tr>`;
            jQuery('#wallet-table__table__tbody').html(html);
            jQuery('.wallet-table').append('<div class="card-api-instructions"><div class="card-api-instructions__code-sample"><code>curl -X GET "https://api.middleman.cloud/wallets" -H "X-Auth-Key: AUTHKEY"</code></div><button><i class="material-icons">exit_to_app</i>Docs</button></div>');

          } else {
            jQuery('#wallet-table__table__tbody').append(`<tr><td>${createdAt(data.wallet._id)}</td><td><span class="wallet-address preformatted">${data.wallet.address}</span></td><td>${data.wallet.user_id}</td><td>0 ETH</td></tr>`);
          }

        }).fail(function(xhr, status, error) {
        // error handling
          console.log(error);
          jQuery('#wallet-creation-message').addClass('error').addClass.html('<i class="material-icons">error_outline</i><p>Something went horribly, horribly wrong.</p>');
        });
      })
    </script>
  </body>
</html>
