<!DOCTYPE html>
<html>
  <head>{{> head}}</head>
  <body>
    {{> header}}
    <div id='demo'>
      <div id='create-wallet'>
        <form id="create-wallet__form">
          <label>User ID or Email This Wallet Belongs To:</label>
          <input name="userid" type="text" placeholder="mayor@dani.town" autofocus />
          <button type="submit">Create A Wallet</button>
        </form>
      </div>
    </div>
    <div id="wallet-creation-success-message"></div>
    <div id="wallet-list">
      <ul id="wallet-list__wallets">
      </ul>
    </div>
    {{> footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

      var myDeveloperId;

      // if no cookie, redirect to Login
      if (document.cookie == '') { window.location = '/login'; }

      // make a request to the api using cookie as auth header
      jQuery.get({
        url: '/developers/me',
        headers: {
          'x-auth-key': document.cookie
        }
      }, function(data) {
        //handle success

        myDeveloperId = data.account._id;
      }).fail(function(xhr, status, error) {
        // handle fail
        console.log('error: ', error);
        // if bad auth (401) redirect to Login
        window.location = '/login';
      });

      // now try to get wallets and display them on the page
    jQuery.get({
        url: `/wallets/developer/${myDeveloperId}`,
        headers: {
          'x-auth-key': document.cookie
        }
      }, function(data) {
      //handle success
        jQuery.each(data.wallets, function (index, value) {
          jQuery('#wallet-list__wallets').append(`<li>${data.wallets[index].address}</li>`);
        })
      }).fail(function(xhr, status, error) {
        // handle fail
        console.log('error: ', error);
        // if bad auth (401) redirect to Login
        window.location = '/login';
      });

      // when submit the form, generate a wallet for the user id
      jQuery('#create-wallet__form').on('submit', function(e) {
        e.preventDefault();

        // get userid
        var userid = jQuery('[name=userid]').val();

        // send the data to the create wallet api
        jQuery.post({
          url: '/wallets/',
          type: 'post',
          data: {
            "user_id": userid
          },
          headers: {
            'x-auth-key': document.cookie
          }
        }, function(data, status) {
          // clear form field
          jQuery('[name=userid]').val("");

          jQuery('#wallet-creation-success-message').html(`<p>Success! Created a wallet at the address ${data.wallet.address} for the user ${data.wallet.user_id}</p>`);

          // add the new wallet to the list
          jQuery('#wallet-list__wallets').append(`<li>${data.wallet.address}</li>`);

        }).fail(function(xhr, status, error) {
        // error handling
          console.log(error);
          jQuery('[name=userid]').val("");
          jQuery('body').append('<div> Something went wrong.</div>');
        });
      })

    </script>
  </body>
</html>
