<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> header}}
    <div id="product-description">
      <p>Kelp lets you spin up cloud-hosted wallets so that your users can use your dapps without a web3-enabled browser. To get started, <a href="https://docs.kelp.cloud">check out the docs</a> or try it out manually below.</p>
      <a href="http://docs.kelp.cloud"><button class="pure-button">Check Out The API</button></a>
    </div>
    <div id='demo'>
      <h3>Try It Out First</h3>
      <div id='create-wallet'>
        <p>Try out the form below to generate a wallet on behalf of a user. Type in an email address or user identifier and press submit.</p>
        <form class="pure-form" id="create-wallet__form" autocomplete="off">
          <label>User ID or Email:</label><br>
          <input name="userid" type="text" placeholder="mayor@dani.town" autofocus />
          <button class="pure-button" type="submit">Create A Wallet</button>
        </form>
      </div>
    </div>
    <div id="wallet-creation-success-message"></div>
    <div id="wallet-table"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

      var myDeveloperId;
      var myEmail;

      // Wallet id to createdAt date
      var createdAt = (walletId) => {
        return new Date(parseInt(walletId.substring(0, 8), 16) * 1000).toLocaleDateString('en-UK');
      };

      // get balance from cleargraph
      var getWalletBalance = (walletId) => {

        var walletBalance;
        jQuery.get({
          url: `/wallets/${walletId}/balance`,
          headers: {
            'x-auth-key': document.cookie
          },
          success: function(data) {
            walletBalance =  JSON.parse(JSON.stringify(data)).balance;
            //TODO I don't know why this doesnt work
            console.log('Inside the inner function ', walletBalance);
            return walletBalance;
          }
        }).fail(function(xhr, status, error) {
            // handle fail
            console.log('err: ', error);
          });
          console.log('Outside the inner function ', walletBalance);
          return walletBalance;
        };

        var goToWalletPage = (wallet) => {
          // make a request to get /developers/wallet/:id
          // and pass in cookie to auth headers
          //then window.location change

          jQuery.get({
            url: `/developers/wallet/${wallet._id}`,
            headers: { 'x-auth-key': document.cookie },
            success: function(data) { window.location = `/developers/wallet/${wallet._id}`; }
          }).fail(function(xhr, status, error) {
            console.log(error);
          })
        }

      // if no cookie, redirect to Login
      if (document.cookie === '') { window.location = '/login'; }

      // make a request to the api using cookie as auth header
      jQuery.get({
        url: '/developers/me',
        headers: {
          'x-auth-key': document.cookie
        }
      }, function(data) {
        //handle success
        myEmail = data.account.email;
        jQuery('header').append(`<p id="my-email"><a href="#">${myEmail}</a></p>`);

        console.log('email: ', myEmail);

        myDeveloperId = data.account._id;
      }).fail(function(xhr, status, error) {
        // handle fail
        console.log('error: ', error);
        // if bad auth (401) redirect to Login
        window.location = '/login';
      });

      // now get wallets and display them on the page
    jQuery.get({
        url: `/wallets/developer/${myDeveloperId}`,
        headers: {
          'x-auth-key': document.cookie
        }
      }, function(data) {
      //handle success
      // setup the table
      jQuery('#wallet-table').append('<table class="pure-table" id="wallet-table__table"></table>');
      jQuery('#wallet-table__table').append('<thead><tr><th>Created</th><th>Address</th><th>UserID</th><th>Balance</th></tr></thead>');
      // create the new rows for each wallet
      // for each wallet, fetch the wallet balance from cleargraph and add it to the html
        jQuery.each(data.wallets, function (index, value) {
          var id = data.wallets[index]._id;
          var balance = getWalletBalance(id);
          var tableHtml = `<tr><td>${createdAt(data.wallets[index]._id)}</td><td><span class="wallet-address preformatted">${data.wallets[index].address}</span></td><td>${data.wallets[index].user_id}</td><td>0 ETH</td></tr>`;
          jQuery('#wallet-table__table').append(tableHtml);
        })
      }).fail(function(xhr, status, error) {
        // handle fail
        console.log('error: ', error);
        // if bad auth (401) redirect to Login
        window.location = '/login';
      });

      // when submit the form, generate a wallet for the user id
      jQuery('#create-wallet__form').on('submit', function(e) {
        e.preventDefault();

        // get userid
        var userid = jQuery('[name=userid]').val();

        // send the data to the create wallet api
        jQuery.post({
          url: '/wallets/',
          type: 'post',
          data: {
            "user_id": userid
          },
          headers: {
            'x-auth-key': document.cookie
          }
        }, function(data, status) {
          // clear form field
          jQuery('[name=userid]').val("");

          jQuery('#wallet-creation-success-message').html(`<p>Success! Created a wallet at the address <span class="wallet-address preformatted">${data.wallet.address}</span> for the user ${data.wallet.user_id}</p>`);

          // add the new wallet to the list
          // TODO fetch balance for it
          jQuery('#wallet-table__table').append(`<tr><td>${createdAt(data.wallet._id)}</td><td><span class="wallet-address preformatted">${data.wallet.address}</span></td><td>${data.wallet.user_id}</td><td>0 ETH</td></tr>`);

        }).fail(function(xhr, status, error) {
        // error handling
          console.log(error);
          jQuery('[name=userid]').val("");
          jQuery('body').append('<div class="error"> Something went horribly, horribly wrong.</div>');
        });
      })

      jQuery('.wallet-address').on('click', function() {
        //TODO this doens't fire on click it is super weird
         //need to somehow get the wallet obj and pass it in to goToWalletPage()
         console.log('i hear you');
      });

    </script>
  </body>
</html>
