<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kelp API</title>
  </head>
  <body>
    {{> header}}
    <p>{{toUpperCase welcomeMessage}}</p> <!-- first is the function/helper, second is the arg to pass in. to pass in 2 args, just add another space -->

    {{> footer}}
  </body>
</html>
