<!DOCTYPE html>
<html>
  <head>{{> head}}</head>
  <body>
    <div class="container auth-container">
      <img class="logo" src="https://kelp.nyc3.digitaloceanspaces.com/logo.svg">
      <h1><span class="title-box">middleman</span></h1>
      <p>welcome back, happy to see you again.</p>
      {{> emailPwForm}}
      <p class="card-content link"><a href='/signup'>Signup Instead</a></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      //on 2 args: name of event, function to call
      // e is event obj
      jQuery('#emailPwForm').on('submit', function(e) {
        e.preventDefault();

        // get email and pw values
        var email = jQuery('[name=email]').val();
        var pw = jQuery('[name=password]').val();

        // send the data to the signup api
        jQuery.post('/developers/login', {
          "email": email,
          "password": pw
        }, function(data, status) {
          // clear form field
          jQuery('[name=email]').val("");
          jQuery('[name=password]').val("");

          // set cookie and then will need to check the cookie to load /developers
          // in /developers call the api and send whatever is in doc.cookie as auth header
          // if 400/401, redirect the user to /login
          var authToken = data.developer.authToken;

          document.cookie = `_auth=${authToken}`;

          //redirect the user to the developer page
          window.location = '/developers';

        }).fail(function(xhr, status, error) {
        // error handling
          jQuery('[name=email]').val("");
          jQuery('[name=password]').val("");
          jQuery('#emailPwForm').append('<div class="error message-box" id="invalid-signup-message">🤷🏽‍♀️Invalid creds, but you can try again.</div>');
        });
      })
    </script>
  </body>
</html>
