<!DOCTYPE html>
<html>

<head>{{> head}}</head>

<body>
  {{> header}}
  <div id="product-description">
    <p>Kelp lets you spin up cloud-hosted wallets so that your users can use your dapps without a web3-enabled browser. To get started, <a href="https://docs.kelp.cloud">check out the docs</a> or try it out manually below.</p>
    <a href="http://docs.kelp.cloud"><button class="pure-button">Check Out The API</button></a>
  </div>
  <div class="demo" id='signing-demo'>
    <h3>Sign A Message</h3>
    <div id='signing-demo__container'>
      <p>Try out the form below to sign a message using your chosen wallet address. Click on a wallet below to use that address to sign the message.</p>
      <form class="pure-form pure-form-stacked" id="signing-demo__form" autocomplete="off">
        <label>Message To Sign:</label>
        <input name="message" type="text" placeholder="super legit message" />
        <label>Wallet To Use (Choose One By Clicking on It Below):</label>
        <input name="wallet-address" type="text" placeholder="0x8d3..." disabled />
        <button class="pure-button" type="submit">Sign It</button>
      </form>
    </div>
  </div>
  <div id="signing-message-success-message"></div>
  <div class="demo" id='signing-transaction-demo'>
    <h3>Sign A Transaction</h3>
    <div id='signing-transaction-demo__container'>
      <p>Try out the form below to sign a transaction using a chosen wallet. To choose a wallet, click on it on the page below. This doesn't actually send eth, it just creates a signed transaction object.</p>
      <form class="pure-form pure-form-stacked" id="signing-transaction-demo__form" autocomplete="off">
        <label>To Address</label>
        <input name="to_addr" type="text" placeholder="0x8d3e809fbd258083a5ba004a527159da535c8aba" />
        <label>Amount of ETH to send:</label>
        <input name="value" type="text" placeholder="0.01" />
        <label>Amount of ETH to send:</label>
        <input name="gas" type="text" placeholder="2000000" />
        <label>Wallet To Use (Choose One By Clicking on It Below):</label>
        <input name="wallet-address" type="text" placeholder="0x8d3..." disabled />
        <button class="pure-button" type="submit">Sign It</button>
      </form>
    </div>
    <div id="signing-transaction-success-message"></div>
  </div>
  <!-- load in the table of wallets. when you click on a wallet it fills it into the wallet fields -->
  <!-- add logic for sign txn and sign msg -->
</body>

</html>
